.feature-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.feature-about {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.article-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.category-link {
    text-decoration: none;
}